<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<hr class="first-hr">
<main class="container">
  <div>
    <h1 class="display-4">About PAJFAJ</h1>

    <h4>Description: </h4>

    <p>
      PAJFAJ is a Canada-based startup survey company that focuses doing surveys for international students
      in order to understand international students' experiences in Canada. 
     With their consent, our company collects their answers through surveys that ask about their experiences and goals in Canada.
     We are currently working with several different colleges and universities in the country, and through these partnerships, 
     we aim to provide international students with support and roadmaps that fit their situations.

    </p>
    <p>
      <b>CEO's</b> of PAJFAJ:
      <ul>
          <a href="https://www.linkedin.com/in/arielchau/" target="_blank"><li>Ariel Chau</li></a>
          <a href="https://www.linkedin.com/in/jiho-choi-4377bb231/" target="_blank"><li>Jiho Choi</li></a>
          <a href="https://www.linkedin.com/in/prajwal-purohit-6295b21a4/" target="_blank"><li>Prajwal Purhoit</li></a>
          <a href="https://www.linkedin.com/in/anson-quan" target="_blank"><li>Thuan An Quan</li></a>
          <a href="https://www.linkedin.com/in/fawad-zaheer/" target="_blank"><li>Fawad Zaheer</li></a>
          <a href="https://www.linkedin.com/in/jan-escareses-469b93255/" target="_blank"><li>Jan Rodel Escareses</li></a>
        
        </ul>
    </p>

    <h4>Mission and Vision: </h4>
    <p>
        The main mission of our company is to analyze international students' goals and objectives throughout their studies while in Canada.
        With their consent, the company shares their information with our partner institutions to help provide them with support, alternatives, and future paths.
        As for the future, the company has plans to expand our information collection for different demographics and assist them as well. 
      </p>

    <img style="box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)" class="group-photo" src="/images/groupPhoto.jpg" alt="CEO of PAFAJ">

  </div>
  
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
