<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<hr class="first-hr">
<main class="container">
  <div>
    <h1 class="display-4">Welcome PAJFAJ</h1>
  </div>
  <div class="float-container">

    <div class="float-child one">
      <h1>Do it all with a Smile</h1>
      <p><b>PAJFAJ</b> is a Canada-based innovative startup company that focuses on doing surveys for new international students in Canada in order to enhance their experience.
        We believe that surveys are a great way to know how these students think and feel about living in a new country. Therefore, with the use of our surveys, we get to understand these students better to help and guide them throughout their journey in Canada.
      </p>
      <button  class="btn-survery"><a href="/survey-list">Create Survey</a></button>
    </div>

    <div class="float-child two">
      <img src="/images/surveyimg.jpg" style="float: right; border-radius: 20px ;box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)" alt="main images" width="500"> <!--taken from google--> <br>
    </div>

  </div>
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
