<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
//main
<!-- Main Content -->
<hr class="first-hr">
<main class="container">
  <div>
    <h1 class="display-4">Products PAJFAJ</h1>
  <div class="container mt-5 mb-3">
      <div class="row">
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                              <h6 class="mb-0">Github</h6>
                          </div>
                      </div>
                      <div class="badge"> <span>Code</span> </div>
                  </div>
                  <div class="mt-5">
                      <a href="https://github.com/Fawad19/PAJFAJ-Group-Project" target="_blank">
                        <h3 class="heading">PAJFAJ-Group-Project&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                      </a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">5 Applied <span class="text2">of 5 capacity</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                          <div class="ms-2 c-details">
                              <h6 class="mb-0">Jira</h6>
                          </div>
                      </div>
                      <div class="badge"> <span>Agile Project Management</span> </div>
                  </div>
                  <div class="mt-5">
                      <a href="https://anabadacvel.atlassian.net/jira/software/projects/PAJ/boards/2" target="_blank">
                        <h3 class="heading">Project Part 2 – First Release</h3>
                      </a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">9 Applied <span class="text2">of 9 capacity</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-reddit"></i> </div>
                          <div class="ms-2 c-details">
                              <h6 class="mb-0">MongoDB Atlas</h6>
                          </div>
                      </div>
                      <div class="badge"> <span>Database</span> </div>
                  </div>
                  <div class="mt-5">
                      <a href="">
                        <h3 class="heading">Database for the web&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                      </a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">1 Applied <span class="text2">of 1 capacity</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
